@font-face {
    font-family: 'GrilledCheese BTN';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('GrilledCheese BTN'),
      url('fonts/GrilledCheese BTN.woff') format('woff');
}

@keyframes moveUpDown {
    50% {transform: translateY(-10px);}
}

@keyframes moveForwardBackward {
    50%  {transform: scale(1.1);}
}

:root {
    --font-16px: 1rem;
    --font-18px: 1.125rem;
    --font-20px: 1.25rem;
    --font-26px: 1.625rem;
    --font-28px: 1.75rem;
    --font-34px: 2.125rem;
    --font-38px: 2.375rem;
    --font-42px: 2.625rem;
    --font-65px: 4.063rem;
    --purple: rgb(194, 171, 247);
    --blue: rgb(128, 198, 250);
    --green: rgb(135, 252, 79);
    --yellow: hsl(50, 100%, 49%);
    --orange: rgb(240, 150, 68);
    --red: rgb(234, 65, 55);
    --dark-red: rgb(207, 17, 0);
    --dark-blue: rgb(21, 29, 62);
    --bald-shadow: -0.1em 0 0.06em var(--dark-blue), 0.1em 0 0.06em var(--dark-blue),
                   0 0.1em 0.06em var(--dark-blue), 0 -0.1em 0.06em var(--dark-blue),
                   -0.1em 0.1em 0.06em var(--dark-blue), 0.1em 0.1em 0.06em var(--dark-blue),
                   -0.1em -0.1em 0.06em var(--dark-blue), 0.1em -0.1em 0.06em var(--dark-blue);
    --medium-shadow: -0.06em 0 0.08em var(--dark-blue), 0.06em 0 0.08em var(--dark-blue),
                     0 0.06em 0.08em var(--dark-blue), 0 -0.06em 0.08em var(--dark-blue),
                     -0.06em 0.06em 0.08em var(--dark-blue), 0.06em 0.06em 0.08em var(--dark-blue),
                     -0.06em -0.06em 0.08em var(--dark-blue), 0.06em -0.06em 0.08em var(--dark-blue);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url(img/symbols-bg.svg),
    linear-gradient(90deg, #f9cbd3 0%, #c6a8fd 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'GrilledCheese BTN', sans-serif;
    font-size: var(--font-18px);
}

/* HEAD */

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

img[src*='logo'] {
    max-width: 100%;
    padding: 0 25px;
}

/* MAIN */

main {
    display: flex;
    align-items: center;
    flex: 1;
}

/* menu */

.menu {
    display: flex; /*flex*/
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;
}

.mode {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
    width: 290px;
    background-color: white;
    color: var(--dark-blue);
    font-size: var(--font-38px);
    border: 4px solid var(--dark-blue);
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.mode:hover {
    animation: moveUpDown 0.75s ease-in-out infinite;
}

.mode img {
    height: 65px;
}

/* play mode */

.play-mode,
.prematch-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-mode {
    display: none; /*flex*/
    margin: 0 auto;
}

.prematch-info{
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    align-items: center;
    justify-items: center;
    width: 340px;
    padding: 20px 50px;
    margin-bottom: 30px;
    gap: 22px;

    background-color: white;
    color: var(--dark-blue);
    font-size: var(--font-28px);
    border: 4px solid var(--dark-blue);
    border-radius: 40px;
}

.prematch-player {
    gap: 15px;
}

.prematch-player img:first-child {
    height: 72px;
}

.prematch-player img:nth-child(2) {
    height: 51px;
}

input[type='text'] {
    display: none; /*block*/
    height: 50px;
    width: 150%;
    text-align: center;
    text-shadow: var(--medium-shadow);
    border: none;
    outline: none;
    animation: moveUpDown 0.75s ease-in-out infinite;
}

input[placeholder='Player 1'] {
    color: var(--purple);
    grid-row: 2 / 3;
}

input[placeholder$='1']::placeholder{
    color: var(--purple);
    opacity: 0.6;
}

input[placeholder='Player 2'] {
    color: var(--blue);
    grid-row: 2 / 3;
    grid-column: 3/ 4;
}

input[placeholder$='2']::placeholder{
    color: var(--blue);
    opacity: 0.6;
}

.ai-levels {
    display: none; /*flex*/
    justify-content: space-evenly;
    width: 100%;
    grid-column: 1 / 4;
}

.easy, 
.mid,
.fight-button {
    cursor: pointer;
    border: 4px solid var(--dark-blue);
    border-radius: 20px;
}

.easy, 
.mid {
    color: white;
    text-shadow: var(--bald-shadow);
    font-size: var(--font-16px);
    padding: 8px 14px;
    filter: brightness(30%);
}

.easy {
    background-color: var(--green);
}

.mid {
    background-color: var(--orange);
}

.easy:hover,
.mid:hover,
.chosen-level {
    filter: brightness(100%);
    animation: moveUpDown 0.75s ease-in-out infinite;
}

.fight-button {
    padding: 8px 0;
    width: 100%;
    background-color: var(--yellow);
    color: var(--dark-blue);
    font-size: var(--font-38px);
    grid-column: 1 / 4;
}

/* playground */

.playground {
    display: none; /*grid*/
    grid-template:  repeat(2, auto) / repeat(3, auto);
    grid-template-areas: 'first-player board second-player'
                         '. controllers .';
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

    width: min(1100px, 100%);
    margin-top: 15px;
    row-gap: 30px;
}

.player > div:last-child {
    text-align: center;
    margin-top: 15px;
}

.player-info,
.opponent-info {
    display: flex;
    flex-direction: column;
    width: 146px;
    padding: 20px;
    gap: 20px;

    background-color: white;
    text-align: center;
    font-size: var(--font-26px);
    text-shadow: var(--bald-shadow);
    border: 4px solid;
    border-radius: 40px;
}

.player-info img:first-child,
.opponent-info img:first-child {
    height: 56px;
}

.player-info img:nth-child(2),
.opponent-info img:nth-child(2){
    height: 40px;
}

#level {
    display: none; /*block*/
    filter: brightness(100%);
    animation: none;
    cursor: default;
}

.first-player-name,
.first-player-wins {
    color: var(--purple);
}

.first-player-wins, 
.opponent-wins {
    font-size: var(--font-34px);
    text-shadow: var(--bald-shadow);
}

.opponent-name {
    display: none;
}

.board {
    position: relative;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 402px;
    width: 402px;
    grid-area: board;
    cursor: pointer;
}

.board div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
    box-shadow: 0 0 0 4px var(--dark-blue);
}
.board div:nth-child(1) {
    border-top-left-radius: 40px;
}
.board div:nth-child(3) {
    border-top-right-radius: 40px;
}
.board div:nth-child(7) {
    border-bottom-left-radius: 40px;
}
.board div:nth-child(9) {
    border-bottom-right-radius: 40px;
}

div .overlay {
    display: none; /*flex*/
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color: rgb(33, 39, 71);
    color: white;
    opacity: 0.97;
    border-radius: 40px;
}

.overlay div {
    background-color: inherit;
    font-size: var(--font-65px);
    text-shadow: var(--bald-shadow);
    box-shadow: none;
}

.board div img {
    width: 65%;
}

.small-player {
    display: none; /*flex*/
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 130px;
    height: 73px;
    padding: 3px;
    
    background-color: white;
    font-size: var(--font-34px);
    border: 4px solid var(--dark-blue);
    border-radius: 30px;
    text-shadow: var(--medium-shadow);
}

.small-player img {
    width: 44%;
}

.first.small-player{
    grid-area: first-player;
    color: var(--purple);
}

.second.small-player {
    grid-area: second-player;
}

.controllers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--yellow);
    font-size: var(--font-28px);
    cursor: pointer;
    grid-area: controllers;
}

.go-back, 
.next-round, 
.reset-score {
    display: flex; /*flex*/
    flex-direction: column;
    text-align: center;
    gap: 4px;
    text-shadow: var(--bald-shadow);
    cursor: pointer;
}

.go-back {
    gap: 4px;
    color: var(--yellow);
    font-size: var(--font-28px);
}

img[src*='arrow'] {
    width: 54px;
}

.next-round {
    display: none;
    font-size: var(--font-42px);
    line-height: 0.9;
}

.reset-score {
    display: none;
    line-height: 1;
}

.go-back:hover, 
.next-round:hover, 
.reset-score:hover {
    animation: moveForwardBackward 0.8s ease-in-out infinite;
}

/* FOOTER */

footer {
    text-align: center;
    color: var(--dark-blue);
    font-size: var(--font-20px);
    padding: 18px;
}

.github {
    height: 22px;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    .playground {
        grid-template:  repeat(3, auto) / repeat(2, auto);
        grid-template-areas: 'first-player second-player'
                             'board board'
                             'controllers controllers';
        justify-content: center;
    }

    .player {
        display: none;
    }

    .small-player {
        display: flex;
    }
}

@media (max-width: 590px) {
    .board {
        height: 68vw;
        width: 68vw;
    }

    .small-player {
        height: 12.5vw;
        width: 22vw;
        font-size: 5.8vw;
        gap: 2.6vw;
        border: 3px solid var(--dark-blue);
    }

    .overlay div {
        font-size: 11vw;
    }

    img[src*='arrow'] {
        width: 9.2vw;
    }

    .controllers div {
        font-size: 4.7vw;
    }

    .controllers .next-round {
        font-size: 7.1vw;
    }
}