@font-face {
    font-family: 'GrilledCheese BTN';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('GrilledCheese BTN'),
      url('fonts/GrilledCheese BTN.woff') format('woff');
}

:root {
    --font-14px: 0.875rem;
    --font-16px: 1rem;
    --font-18px: 1.125rem;
    --font-20px: 1.25rem;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url(img/symbols-bg.svg),
    linear-gradient(90deg, #f9cbd3 0%, #c6a8fd 100%);
    background-size: cover;
    font-family: 'GrilledCheese BTN', sans-serif;
    font-size: var(--font-18px);
}

/* HEAD */

header {
    display: flex;
    justify-content: center;
}

img[src*="logo"] {
    margin-top: 20px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 30px;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 10px;
    font-size: var(--font-20px);
}

.github {
    height: 22px;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 0px) {}