@font-face {
    font-family: 'GrilledCheese BTN';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('GrilledCheese BTN'),
      url('fonts/GrilledCheese BTN.woff') format('woff');
}

:root {
    --font-14px: 0.875rem;
    --font-16px: 1rem;
    --font-18px: 1.125rem;
    --font-20px: 1.25rem;
    --font-26px: 1.625rem;
    --font-28px: 1.75rem;
    --font-34px: 2.125rem;
    --purple: rgb(194, 171, 247);
    --yellow: rgb(244, 210, 71);
    --red: rgb(234, 65, 55);
    --dark-blue: rgb(21, 29, 62);
    --shadow: -0.1em 0 0.06em var(--dark-blue), 0.1em 0 0.06em var(--dark-blue),
              0 0.1em 0.06em var(--dark-blue), 0 -0.1em 0.06em var(--dark-blue),
              -0.1em 0.1em 0.06em var(--dark-blue), 0.1em 0.1em 0.06em var(--dark-blue),
              -0.1em -0.1em 0.06em var(--dark-blue), 0.1em -0.1em 0.06em var(--dark-blue);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url(img/symbols-bg.svg),
    linear-gradient(90deg, #f9cbd3 0%, #c6a8fd 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'GrilledCheese BTN', sans-serif;
    font-size: var(--font-18px);
}

/* HEAD */

header {
    display: flex;
    justify-content: center;
}

img[src*="logo"] {
    margin-top: 20px;
}

/* MAIN */

main {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 30px;
}

.playground {
    display: grid;
    grid-template:  repeat(2, auto) / repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

    width: min(1100px, 100%);
    margin-top: 40px;
    row-gap: 30px;
}

.player > div:last-child {
    text-align: center;
    margin-top: 15px;
}

.player-info {
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 20px;
    gap: 20px;

    background-color: white;
    text-align: center;
    font-size: var(--font-26px);
    text-shadow: var(--shadow);
    border: 4px solid;
    border-radius: 40px;
}

.player-info img:first-child {
    height: 56px;
}

.player-info img:nth-child(2) {
    height: 40px;
}

.human-label,
.human-wins {
    color: var(--purple);
}

.robot-label,
.robot-wins {
    color: var(--red);
}

.human-wins, 
.robot-wins{
    font-size: var(--font-34px);
    text-shadow: var(--shadow);
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 402px;
    width: 402px;

}

.square-1 {
    border-top-left-radius: 40px;
}

.square-3 {
    border-top-right-radius: 40px;
}

.square-7 {
    border-bottom-left-radius: 40px;
}

.square-9 {
    border-bottom-right-radius: 40px;
}

.board div {
    background-color: white;
    height: 134px;
    width: 134px;
    box-shadow: 0 0 0 4px var(--dark-blue);
}

.controllers {
    grid-column: 2;
    color: var(--yellow);
    text-align: center;
    text-shadow: var(--shadow);
}

img[src*='arrow'] {
    height: 44px;
}

.controllers div {
    font-size: var(--font-28px);
    text-shadow: var(--shadow);
}

/* FOOTER */

footer {
    text-align: center;
    color: var(--dark-blue);
    font-size: var(--font-20px);
    padding: 18px;
}

.github {
    height: 22px;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 0px) {}